<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Novo Ticket</title>
</head>
<body>
<h2>Criar Novo Ticket</h2>

<form action="/criar-chamado" method="post">
    <div>
        <label for="description">Descrição:</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="department">Departamento:</label>
        <select id="department" name="department" required>
            <option value="Suporte Técnico">Suporte Técnico</option>
            <option value="Help Desk">Help Desk</option>
        </select>
    </div>
    <button type="submit">Criar Ticket</button>
</form>

<!-- Botão para voltar ao Dashboard -->
<h3>Voltar ao Dashboard</h3>
<form action="/dashboard-cliente" method="get">
    <button type="submit">Voltar</button>
</form>

<!-- Exibindo mensagens de erro -->
<div th:if="${param.error}">
    <p style="color: red;">Houve um erro, tente novamente.</p>
</div>
</body>
</html>